DB_SCHEMA_NAME=ecommerce
DB_USER_NAME=ecommerce_user
DB_USER_PASSWORD=ecommerce_password
# If you use SSH local port forwarding for RDS, set this to host.docker.internal
# DB_HOST_URL=host.docker.internal
# DB_PORT=3307
DB_HOST_URL=your-rds-endpoint.rds.amazonaws.com
DB_PORT=3306
FRONTEND_PORT=5000
PRODUCT_PORT=5001
CART_PORT=5002
ORDER_PORT=5003
PRODUCT_API_URL=http://localhost:5001
CART_API_URL=http://localhost:5002
ORDER_API_URL=http://localhost:5003
